.container {
    padding: 0;
    width: 100%;
}

.carousel-caption {
    position: static;
    padding: 0;
}

.carousel-caption img{
    width: 100%;
}

.carousel-icon-prev {
    width: 35px;
    height: 67px;
    background-position: 0px -150px;
}

.carousel-icon-next {
    width: 35px;
    height: 67px;
    background-position: 0px -72px;
}