.container {
    padding: 0;
    width: 100%;
}

.carousel-caption {
    position: static;
    padding: 0;
    height: 596px;
}

.carousel-caption img{
    width: 100%;
}

.icon {
    background-image: url(../images/sprite-icons.svg);
    background-repeat: no-repeat;
}

.icon-prev {
    width: 35px;
    height: 67px;
    background-position: 0px -150px;
}

.icon-next {
    width: 35px;
    height: 67px;
    background-position: 0px -72px;
}