ul{
    list-style-type: none;
    padding: 24px 0;
}

ul.footer li.footer-item p {
    color: #363636;
    font-size: 15px;
    /*font-size: 0.9375rem;*/
    display: block;
    font-weight: bold;
}

.footer-item-wrapper {
    padding: 30px 45px;
}

.footer-item-wrapper h4{
    font-size: 15px;
}

.footer-item-wrapper ul{
    padding:20px 0;
}

.footer-item-wrapper ul li{
    padding-bottom: 10px;
}

.footer-item-wrapper ul li a {
    color:black;
    font-weight:200;
}